<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mojeapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Gingerbread 2.3.3 až Jelly Bean 4.2.x  -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 
        <activity
            android:name="com.example.mojeapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        
        <activity android:name="MujNovyProduktActivity" />
        
        <activity
            android:name="NewListView"
            android:label="@string/app_name" >
            <intent-filter>
            	<action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            	
        <activity android:name="NewUpravitProduktActivity" />
        
        <activity android:name="NakupniSeznamActivity" />
        
        <!-- 
        <activity android:name="MujListView"/>
        <activity android:name="MujSeznamProduktuActivity"/>
          -->
        
        
        
        
    </application>

</manifest>